@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body {
	font-family: 'Comfortaa', cursive;
	margin: 0px;
}
.navbar {
	width: 100%;
	height: 30px;
	background-color: #ADDCF3;
	font-family: 'Comfortaa', cursive, bold;
	font-size: 20px;
}
.navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.navbar li {
	float: left;
	width: 150px;
	text-align: center;
}
.navbar a{
	display: block;
}
.navbar a:link, a:visited{
	font-weight: bold;
	color: black;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: none;
}
.navbar a:hover, a:active{
	background-color: #66C6F5;
}
